html {
    scroll-behavior: smooth;
}

/* Navbar */
.titulo {
    margin: 5px;
}

/* Home */
.home {
    height: 720px;
    background: grey;
}

/* Clculadora */
.calculadora {
    margin: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: #2e2e2e;
}

.btn {
    width: 60px;
    height: 50px;
    margin: 5px;
}

.clear,
.zero,
.enter {
    width: 130px;
}

.container-resultado {
    text-align: right;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.calculadora,
.btn,
.container-resultado {
    box-shadow: 1px 1px 5px black;
}